#main-grid {
  grid-template-areas: ". . header header . ."
                       "jumbo jumbo jumbo jumbo jumbo jumbo"
                       ". . team-portraits team-portraits . .";
}

#team-portraits {
  grid-area: team-portraits;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 67px;
  padding-bottom: 80px;
}

.member img {
  height: 100%;
}

.member span {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #727272;
  line-height: 28px;
}

.member-img-container {
  width: 192px;
  height: 204px;
  overflow: hidden;
}

#jumbo {
  background-color: white;
  height: 400px;
}

#jumbo img {
  min-width: 1024px;
  width: 100%;
  min-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#jumbo-content p {
  color: white;
}

@media (max-width: 768px) {
  #main-grid {
    grid-template-areas: ". header ."
                        "jumbo jumbo jumbo "
                        ". team-portraits .";

  }
}
