#main-grid {
  grid-template-areas: ". . header header . ." "jumbo jumbo jumbo jumbo jumbo jumbo" ". . team-portraits team-portraits . .";
}

#team-portraits {
  grid-area: team-portraits;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 67px;
  padding-bottom: 30px;
}

.member {
  margin-bottom: 50px;
}

.member img {
  height: 100%;
}

.member span {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #727272;
  line-height: 28px;
}

.member-img-container {
  width: 192px;
  height: 204px;
  overflow: hidden;
}

#jumbo {
  background-color: white;
  height: 400px;
}

#jumbo img {
  min-width: 1024px;
  width: 100%;
  min-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#jumbo-content p {
  color: white;
}

#jumbo-maker-logo {
  grid-column: middle;
  grid-row: jumbo-start;
  z-index: 2;
  align-self: center;
  justify-self: center;
}

#jumbo-maker-logo img {
  width: 230px;
}

@media (max-width: 990px) {
  #main-grid {
    grid-template-columns: 1fr 1fr [content-start] 365px [middle] 365px [content-end] 1fr 1fr;
  }

  .member {
    margin: 10px 10px 50px 10px;
  }
}

@media (max-width: 768px) {
  #main-grid {
    grid-template-columns: auto [content-start] 85% [content-end] auto;
    grid-template-areas: ". header ." "jumbo jumbo jumbo " ". team-portraits .";

  }

  #jumbo-maker-logo {
    display: none;
  }
}

.no-cssgrid .team-page #jumbo-content, .cssgridlegacy .team-page #jumbo-content {
  background-image: url('../assets/img/purplebg.png');
  height: 160px;
}

.no-cssgrid #team-portraits, .cssgridlegacy #team-portraits {
  margin-top: 400px;
}
